POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_NAME=

REDIS_HOST=
REDIS_PORT=
REDIS_USERNAME=
REDIS_PASSWORD=

FIREBASE_PROJECT_ID=
FIREBASE_CREDENTIALS_BASE64=

OTEL_EXPORTER_OTLP_ENDPOINT=
OTEL_EXPORTER_OTLP_HEADERS=

MONGODB_URI=
MONGODB_DATABASE=

R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_ENDPOINT=
R2_BUCKET_AVATARS=
R2_BUCKET_EVIDENCIAS=
R2_PRESIGNED_URL_DURATION=15m
